apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: api-node
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: api-node
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
