apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: dev-
namespace: dev

resources:
  - ../../base

patchesStrategicMerge:
  - patch-deployment.yaml
  - patch-configmap.yaml

#images:
#  - name: ghcr.io/twilight4/api-node
#    newTag: dev-latest
